#error_input {
    list-style: none;
}

#link_form, #result {
    padding: 50px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#form_part {
    list-style: none;
    float: left;
}

#form_part, label {
    clear:both; 
    text-align:right;
    line-height: 25px;
}

label {
    float: left;
    padding-right: 10px;
}