<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Shortlinker</title>
</head>
<body>
    <form action="" method="post" id="link_form">
        {% csrf_token %}
        <ul id='form_part'>
            <li>
                <label for="long_url">Your URL:</label>
                <input type="text" placeholder="Enter URL" name="long_url" id="long_url">
            </li>
            <li>
                <label for='custom_name'>Your custom name:</label>
                <input type="text" placeholder="Enter your custom name" name="custom_name" id="custom_name">  
            </li>
            <li><input type="submit" value="Send"></li>
        </ul>
    </form>
    <ul id="error_input">
        <li><p style="display: none" id="input_error_url">Enter correct URL</p></li>
        <li><p style="display: none" id="input_error_custom_name">Enter correct slug for custom name. Available symbols: lower latin alphabet and dash</p></li>
    </ul>
    <script src="{% static 'sender.js' %}"></script>
    <script src="{% static 'validation.js' %}"></script>
</body>
</html>